<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.src"
      [alt]="slide.description"
      [@slideAnimation]="animationType"
      class="slide"
    />
  </ng-container>
  <button class="prev-btn" (click)="onPreviousClick()">
    <i class="material-icons">chevron_left</i>
  </button>
  <button class="next-btn" (click)="onNextClick()">
    <i class="material-icons">chevron_chevron_right</i>
  </button>
</div>
