<swiper
  [autoplay]="{
      delay: 6500,
      disableOnInteraction: false
    }"
  [centeredSlides]="true"
  [navigation]="true"
  [pagination]="{
      clickable: true
    }"
  [spaceBetween]="30"
  class="mySwiper"
>
  <ng-template swiperSlide>
    <div class="relative h-72 w-full lg:h-80">
      <img src="/assets/carousel/k15-photos-YgKmmIVAj8E-unsplash.jpg" alt="Mama africa agriculture" class="bg-cover bg-top" />
      <div class="absolute text-lg text-white top-0 w-full h-full flex items-center justify-center bg-black bg-opacity-40 px-1.5">
        Agroelikia est une marketplace qui vent et delivre des produits agricoles
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="h-72 w-full lg:h-80">
      <img src="/assets/carousel/kaizen-nguy-n-jcLcWL8D7AQ-unsplash.jpg" alt="Mama africa agriculture" class="bg-cover bg-top" />
      <div class="absolute text-lg text-white top-0 w-full h-full flex items-center justify-center bg-black bg-opacity-40 px-1.5">
        Nous vous offrons des produits de qualité a des prix abordables
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="h-72 w-full lg:h-80">
      <img src="/assets/carousel/lotte-lohr-FY7wWMvqdQ0-unsplash.jpg" alt="Mama africa agriculture" class="bg-cover bg-top" />
      <div class="absolute text-lg text-white top-0 w-full h-full flex items-center justify-center bg-black bg-opacity-40 px-1.5">
        Nous permettons au vendeurs et producteurs agricoles de vendre leurs produits a une audience plus large
      </div>
    </div>
  </ng-template
  >
  <ng-template swiperSlide>
    <div class="h-72 w-full lg:h-80">
      <img src="/assets/carousel/alexander-schimmeck-vTXtQ8ZBzvY-unsplash.jpg" alt="Mama africa agriculture" class="bg-cover bg-top" />
      <div class="absolute text-lg text-white top-0 w-full h-full flex items-center justify-center bg-black bg-opacity-40 px-1.5">
        Agroelikia pour une agriculture plus durable et plus saine
      </div>
    </div>
  </ng-template
  >
</swiper>
