<div class="flex justify-between h-14 items-center bg-primary text-white px-3 py-2">
  <div class="text-xl">
    <span *ngIf="!user">Agroelikia</span>
    <span
      *ngIf="user"
      class="h-11 w-11 flex items-center justify-center border border-white border-solid rounded-full p-4 cursor-pointer overflow-hidden"
    >{{user && user.username[0].toUpperCase()}}</span>
  </div>
  <div class="flex items-center">
    <mat-icon class="close-menu" [inline]="true" aria-hidden="false" (click)="toggleSideNav()">close
    </mat-icon>
  </div>
</div>
<nav class="w-full">
  <ul class="flex flex-col px-3 text-base">
    <li>
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Page d'accueil</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li *ngIf="isShopOwner()">
      <a routerLink="/shop/manage" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Gerer ma boutique</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Contactez nous</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li *ngIf="isShopOwner()">
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Mes produits</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Termes et conditions</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li *ngIf="!user">
      <a routerLink="/login" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Se connecter</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li *ngIf="user">
      <button class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center" (click)="logout()">
        <span>Se deconnecter</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </button>
    </li>
  </ul>
</nav>
