<mat-sidenav-container class="min-h-full">
  <mat-sidenav #sidenav mode="push" class="w-2/3">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="min-h-screen flex flex-col">
    <app-header></app-header>
    <div class="flex w-full flex-grow">
      <aside
        class="hidden w-2/12 flex flex-col border-r-2 border-solid border-gray-200 lg:block"
      >
        <div class="pl-8 py-4 border-b-2 border-solid border-gray-200">Filtrer</div>
      </aside>
      <main class="w-full lg:px-10 lg:w-10/12">
        <ng-content>
        </ng-content>
      </main>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
