<mat-sidenav-container class="min-h-full">
  <mat-sidenav #sidenav mode="push" class="w-2/3">
    <div class="flex justify-between h-14 items-center bg-primary text-white px-3 py-2">
      <div class="text-xl">Agroelikia</div>
      <div class="flex items-center">
        <mat-icon class="close-menu" [inline]="true" aria-hidden="false" (click)="sidenav.toggle()">close
        </mat-icon>
      </div>
    </div>
    <app-layout-sidenav></app-layout-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main class="flex w-full">
      <aside
        class="hidden w-2/12 flex flex-col border-r-2 border-solid border-gray-200 lg:block"
      >
        <div class="pl-8 py-4 border-b-2 border-solid border-gray-200">Filtrer</div>
      </aside>
      <section class="w-full px-10 py-10 lg:w-10/12">
        <ng-content>
        </ng-content>
      </section>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
