<header class="bg-primary text-white flex items-center justify-between overflow-hidden h-14 border-b-3 lg:justify-start lg:border-b-0 lg:items-start">
  <button class="px-1 flex items-center cursor-pointer lg:hidden" (click)="toggleSideNav()">
    <mat-icon [inline]="true" class="menu-icon" aria-hidden="false" aria-label="menu icon">menu</mat-icon>
  </button>
  <div class="flex items-center border-b-0 border-solid border-gray-200 h-14 text-2xl lg:w-2/12 lg:border-b-3">
    <a routerLink="/" class="pr-6 pl-8">Agroelikia</a>
  </div>
  <nav class="hidden w-10/12 px-10 border-b-3 border-solid border-gray-200 h-full lg:block">
    <ul class="flex h-full relative">
      <li class="mr-10">
        <a
          routerLink="/"
          class="
            inline-block
            font-bold
            py-4
            px-2
            -mb-active
            border-b-3 border-solid border-green-600
          "
        >
          Acceuil</a
        >
      </li>
      <li class="mr-10">
        <a href="#" class="inline-block py-4 px-2 h-full">Conseils & Astuces</a>
      </li>
      <li class="mr-10">
        <a href="#" class="inline-block py-4 px-2 h-full">À propos</a>
      </li>
      <li>
        <a href="#" class="inline-block py-4 px-2 h-full">Contacts</a>
      </li>
      <li class="ml-auto mr-5">
        <a href="#" class="inline-block py-4 px-2 h-full relative">
          <span class="material-icons">shopping_bag</span>
          <span class="items-count">4</span>
        </a>
      </li>
      <li class="mr-5">
        <a href="#" class="inline-block py-4 px-2 h-full">
          <span class="material-icons">favorite_border</span>
        </a>
      </li>
      <li *ngIf="auth.getUser()">
        <ul class="flex h-full relative">
          <li *ngIf="isShopOwner()" class="flex items-center mr-3">
            <a mat-raised-button color="primary" routerLink="/shop/manage">Gerer ma boutique</a>
          </li>
          <li>
            <div class="w-ful h-full flex items-center justify-center">
              <span
                class="
                  h-11
                  w-auto
                  flex
                  items-center
                  justify-center
                  border border-black border-solid
                  rounded-full
                  p-4
                  cursor-pointer
                "
                [matMenuTriggerFor]="profileMenu"
              >{{user && user.username}}</span>
            </div>
            <mat-menu #profileMenu="matMenu">
              <button mat-menu-item>Compte</button>
              <button mat-menu-item (click)="logout()">Se deconnecter</button>
            </mat-menu>
          </li>
        </ul>


      </li>
      <li *ngIf="!user">
        <div class="py-4 px-2 h-full flex items-center justify-center">
          <a
            class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-500"
            routerLink="/login"
          >
            Connexion
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="px-2 flex items-center text-2xl cursor-pointer lg:hidden">
    <mat-icon [inline]="true" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
  </div>
</header>
