<ng-container>
  <section class="grid grid-cols-2 gap-x-3 gap-y-6 py-10 px-4 lg:px-10" *ngIf="!isProductsLoading">
    <h1 *ngIf="!isProductsLoading" class="col-span-2 mb-0">Explorez nos produits</h1>
    <ng-container *ngFor="let product of products">
      <app-product-item click-stop-propagation [product]="product"></app-product-item>
    </ng-container>
  </section>

  <!--    The following is the product loader, it shows up when products are being requested.-->
  <section class="py-10 grid-cols-1 gap-x-3 gap-y-6 px-4 lg:px-10" *ngIf="isProductsLoading">
    <div *ngFor="let i of placeholderArray" class="w-72">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
