<nav class="w-full">
  <ul class="flex flex-col px-3 text-base">
    <li>
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Home</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li >
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Gerer ma boutique</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li >
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Mes produits</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li >
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Termes et conditions</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li >
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Se connecter</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
    <li >
      <a routerLink="/" class="w-full py-6 border-b-2 border-solid border-gray-400 flex justify-between items-center">
        <span>Se deconnecter</span>
        <mat-icon class="text-gray-400">arrow_forward</mat-icon>
      </a>
    </li>
  </ul>
</nav>
